body{
   background-image: url('../img/bg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #ecf0f1;
}

.container{
    max-width: 1340px;
    width: 85%;
    margin: auto;
}


/* стили для шапки сайта */
.header{
    padding-top: 30px;
}
.header-content{
    background-color: rgba(23, 155, 215, 1);
    border-radius: 8px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-links img{
    width: 36px;
    margin: 10px;

}

/* стили для блока с документами */
.document{
    padding-top: 20px;
    color: #fff;
}
.document-content{
    padding: 15px 15px 15px 50px;
    border-radius: 8px;
    background-color: rgba(23, 155, 215, 1);
}
.document-title{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}
li{
    font-size: 18px;
}
.document-btn{
    margin-top: 30px;
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 20px 60px;
    font-size: 22px;
    border: none;
    outline: none;
    background-color: #2ecc71;
    color: #fff;
    border-radius: 8px;
    border: 2px solid transparent;
    font-weight: 700;
}
.document-btn:hover{
    color: #2ecc71;
    background-color: #fff;
    border-color: #2ecc71;
}

/* стили для блока с загрузкой документов */
.form{
    padding-top: 20px;
    color: #fff;
}
.form-content{
    padding: 15px 15px 15px 50px;
    background-color: rgba(23, 155, 215, 1);
    border-radius: 8px;
}

.load{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.block{
    padding: 10px;
    flex-basis: 20%;
    border: 1px solid white;
    border-radius: 24px;
    margin-bottom: 15px;
    margin-right: 5px;
    
}
.form-title{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
}
input[type="text"]::placeholder{
    color: white;
}
input[type="file"]{
    margin-bottom: 20px;
}
#name{
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 3px solid #2ecc71;
    margin-bottom: 50px;
}
.desc{
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;

}
